.node {
  outline: 1px solid #c0c0c0;
  display: inline-block;
}

@media only screen and (min-width: 1250px) {
  .node {
    height: 25px;
    width: 20px;
  }
}

@media only screen and (max-width: 1250px) {
  .node {
    height: 25px;
    width: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .node {
    height: 25px;
    width: 15px;
  }
}

@media only screen and (max-width: 770px) {
  .node {
    height: 25px;
    width: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .node {
    height: 25px;
    width: 12px;
  }
}

@media only screen and (max-width: 630px) {
  .node {
    height: 25px;
    width: 11px;
  }
}

@media only screen and (max-width: 568px) {
  .node {
    height: 25px;
    width: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .node {
    height: 25px;
    width: 9px;
  }
}
@media only screen and (max-width: 450px) {
  .node {
    height: 25px;
    width: 8px;
  }
}

@media only screen and (max-width: 400px) {
  .node {
    height: 25px;
    width: 7px;
  }
}
@media only screen and (max-width: 350px) {
  .node {
    height: 20px;
    width: 6px;
  }
}
@media only screen and (max-width: 300px) {
  .node {
    height: 15px;
    width: 5px;
  }
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}
.node-checkpoint {
  background-color: purple;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
