.dropdown {
  position: absolute;
  top: 9vh;
  width: 15%;
  transform: translateX(25%);
  border: 1px solid #474a4d;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  transition: background 500ms;
  overflow: hidden;
}

@media only screen and (min-width: 513px) {
  .menu-item {
    font-size: 14px;
    padding: 0.2rem 0;
    height: 2rem;
  }
}

@media only screen and (max-width: 513px) {
  .menu-item {
    font-size: 11px;
    height: 50px;
  }
}

.menu-item:hover {
  background-color: #525357;
}
